body { background: #e358a9; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 30px; display: flex; }
.block-shipping-0 { color: #c78547; font-size: 18px; margin-bottom: 5px; }
.block-cluster-1 { color: #577c4e; font-size: 13px; margin-bottom: 5px; }
.block-sms-2 { color: #bfdf9c; font-size: 17px; margin-bottom: 5px; }
.block-payment-3 { color: #fdd52d; font-size: 18px; margin-bottom: 5px; }
.block-notify-4 { color: #aa33b0; font-size: 13px; margin-bottom: 5px; }